footer {
  background-color: #0f0c32;
  color: #fff;
  padding: 10px 0;

  .logo {
    font-size: 25px;
    margin: 0;
    letter-spacing: 2px;
  }

  p {
    text-align: right;
    margin: 0;
    color: #fff;
    text-transform: capitalize;

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
}

.border-none {
  border-right: none !important;
}
