<section class="shortcut pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="shortcut-items">
          <div class="shortcut-header">
            <h3>Explore</h3>
          </div>
          <div class="shortcut-list">
            <ul class="list-unstyled">
              <li>
                <a href="#!">Cities</a>
              </li>
              <li>
                <a href="#!">City Breaks</a>
              </li>
              <li>
                <a href="#!">Airports</a>
              </li>
              <li>
                <a href="#!">Countries / Regions</a>
              </li>
              <li>
                <a href="#!">Airlines</a>
              </li>
              <li>
                <a href="#!">Flights</a>
              </li>
              <li>
                <a href="#!">Hotels</a>
              </li>
              <li>
                <a href="#!">Car hire</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="shortcut-items">
          <div class="shortcut-header">
            <h3>Partners</h3>
          </div>
          <div class="shortcut-list">
            <ul class="list-unstyled">
              <li>
                <a href="#!">Work with us</a>
              </li>
              <li>
                <a href="#!">Advertise with us</a>
              </li>
              <li>
                <a href="#!">Travel Insight</a>
              </li>
              <li>
                <a href="#!">Affiliates</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="shortcut-items">
          <div class="shortcut-header">
            <h3>Company</h3>
          </div>
          <div class="shortcut-list">
            <ul class="list-unstyled">
              <li>
                <a href="#!">About Us</a>
              </li>
              <li>
                <a href="#!">Why Travelers?</a>
              </li>
              <li>
                <a href="#!">Media</a>
              </li>
              <li>
                <a href="#!">Our Peoples</a>
              </li>
              <li>
                <a href="#!">Sustainability</a>
              </li>
              <li>
                <a href="#!">brand story</a>
              </li>
              <li>
                <a href="#!">company details</a>
              </li>
              <li>
                <a href="#!">career</a>
              </li>
              <li>
                <a href="#!">travel features and news</a>
              </li>
              <li>
                <a href="#!">Privacy policy</a>
              </li>
              <li>
                <a href="#!">Terms of service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="shortcut-items">
          <div class="shortcut-header">
            <h3>Help</h3>
          </div>
          <div class="shortcut-list">
            <ul class="list-unstyled">
              <li><a href="#!">help</a></li>
              <li><a href="#!">settings</a></li>
              <li><a href="#!">security</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
