<section class="subscribe mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <div class="sub-title">
            <p>Subscribe</p>
          </div>
          <div class="main-title">
            <h3>Let's subscribe</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="subscribe-content">
          <input type="email" placeholder="Enter Your Email" class="form-control">
          <button class="btn flight-btn">Subscribe now</button>
        </div>
      </div>
    </div>
  </div>
</section>
