<section class="package pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mb-4">
          <div class="sub-title">
            <p>Packages</p>
          </div>
          <div class="main-title">
            <h3>Get The best packages</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/seoul.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Seoul</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/singapore.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Singapore</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/beijing.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Beijing</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/coxs.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Cox's Bazar</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/maldives.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Maldives</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/bora.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Bora Bora</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/paris.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Paris</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/thailand.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>Thailand</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-md-auto">
        <div class="package-card">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="pcard-img">
                <img src="../../../assets/img/london.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-8">
              <div class="pcard-content">
                <div class="city-name">
                  <h4>London City</h4>
                </div>
                <div class="book-item">
                  <ul>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Car</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
