.section-title {
  margin-bottom: 45px;

  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

.img-box {
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px 5px 0 0;

  &:hover {
    .single-img {
      img {
        transform: scale(1.2);
      }
    }
  }

  .single-img {
    overflow: hidden;

    img {
      transition: 1s;
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .img-details {
    padding: 10px 15px;
    background-color: #130f40;
    color: #fff;

    a {
      display: flex;
      align-items: center;
      color: #e74c3c;
      font-weight: 600;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
}
