<section class="popular pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <div class="sub-title">
            <p>Popular</p>
          </div>
          <div class="main-title">
            <h3>Most popular flights</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="popular-card">
          <div class="top-img">
            <img class="img-fluid" src="../../../assets/img/pc1.jpg" alt="" />
          </div>
          <div class="popular-card-des">
            <p class="price">From <span>$860</span> / person</p>
            <p class="info">One way flight</p>
            <h3 class="flight-add">cheap flights to paris</h3>
            <p class="book">book now and <span>save 30%</span></p>
          </div>
          <div class="card-footer">
            <button class="btn flight-btn d-flex align-items-center">Book now</button>
            <a href="#">
              <i class="material-icons">flag</i>
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="popular-card">
          <div class="top-img">
            <img class="img-fluid" src="../../../assets/img/pc2.jpg" alt="" />
          </div>
          <div class="popular-card-des">
            <p class="price">From <span>$860</span> / person</p>
            <p class="info">One way flight</p>
            <h3 class="flight-add">cheap flights to paris</h3>
            <p class="book">book now and <span>save 30%</span></p>
          </div>
          <div class="card-footer">
            <button class="btn flight-btn d-flex align-items-center">Book now</button>
            <a href="#">
              <i class="material-icons">flag</i>
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="popular-card">
          <div class="top-img">
            <img class="img-fluid" src="../../../assets/img/pc3.jpg" alt="" />
          </div>
          <div class="popular-card-des">
            <p class="price">From <span>$860</span> / person</p>
            <p class="info">One way flight</p>
            <h3 class="flight-add">cheap flights to paris</h3>
            <p class="book">book now and <span>save 30%</span></p>
          </div>
          <div class="card-footer">
            <button class="btn flight-btn d-flex align-items-center">Book now</button>
            <a href="#">
              <i class="material-icons">flag</i>
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="popular-card">
          <div class="top-img">
            <img class="img-fluid" src="../../../assets/img/pc4.jpg" alt="" />
          </div>
          <div class="popular-card-des">
            <p class="price">From <span>$860</span> / person</p>
            <p class="info">One way flight</p>
            <h3 class="flight-add">cheap flights to paris</h3>
            <p class="book">book now and <span>save 30%</span></p>
          </div>
          <div class="card-footer">
            <button class="btn flight-btn d-flex align-items-center">Book now</button>
            <a href="#">
              <i class="material-icons">flag</i>
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
